@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    font: 12px/1.5 'JetBrains Mono', monospace, sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

@media (min-width: 600px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1100px) {
    html {
        font-size: 16px;
    }
}

body, table, input, button {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.2;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a {
    text-decoration: none;
}

p {
    margin-bottom: 1.5em;
}

.keyword {
    color: var(--clr-keyword);
}

.string {
    color: var(--clr-string);
}

.comment {
    color: var(--clr-comment);
}

.function {
    color: var(--clr-function);
}

a.string:hover {
    text-decoration: underline;
}